.App {
  text-align: center;
  grid-template-areas: "app-header navBar, this, that";
}

.app-header {
  background-color: #202829;
  color: white;
  padding: 15px;
}

.redSyntax {
  color: #ba1f31 !important;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: antiquewhite;
  padding: 15px;
  background-color: #ba1f31;
}

.topicBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: antiquewhite;
  padding: 15px;
  background-color: #202829;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.link:visited {
  color: rgb(233, 233, 233);
  text-decoration: none;
  font-weight: bold;
}

.articleLink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.articleLink:visited {
  color: #202829;
  text-decoration: none;
  font-weight: bold;
}

.articleList {
  background-color: lightsteelblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.commentList {
  background-color: lightsteelblue;
  list-style-type: none;
  margin: 0;
}

.article {
  background-color: lightyellow;
}

.comment {
  background-color: lightyellow;
}

.title {
  /* text-decoration: underline; */
}
button {
  background-color: #202829;
  color: white;
  border: 2px solid #ba1f31;
}

button:hover {
  background-color: #ba1f31;
  color: white;
  border: 2px solid #202829;
}
