.App {
  text-align: center;
  background-color: rgb(228, 189, 189);
  min-width: 380px;
}

.app-header {
  background-color: #202829;
  color: white;
  padding: 15px;
}

.redSyntax {
  color: #ba1f31 !important;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: antiquewhite;
  padding: 15px;
  background-color: #ba1f31;
}

.topicBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  color: antiquewhite;
  padding: 15px;
  background-color: #202829;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.headingLink {
  color: #202829;
  text-decoration: none;
  font-weight: bold;
}

.headingLink:hover {
  color: #ba1f31;
  text-decoration: none;
  font-weight: bold;
}

.artComList {
  display: grid;
  grid-template-areas: "main" "users";
  grid-template-columns: 50% auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.userPage {
  display: grid;
  grid-template-areas: "leftUserCol users";
  grid-template-columns: auto 70%;
  grid-template-rows: auto;
}
.userList {
  grid-area: "users";
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1050px) {
  .artComList {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 1050px) {
  .articleList {
    display: grid;
    grid-template-areas: "main";
    grid-template-columns: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.idP {
  font-size: small;
}

.authorDateVoteP {
  font-weight: bold;
}

.bodyP {
  font-style: italic;
}

/* --------------------------------- */

.articleComment {
  background-color: rgb(252, 252, 252);
  border: 2px solid #202829;
  margin: 10px;
  padding: 5px;
}

button {
  background-color: #202829;
  font-weight: bold;
  color: white;
  border: 2px solid #202829;
  margin: 2px;
  border-radius: 8%;
}

button:hover {
  background-color: #b93c4b;
  color: white;
  border: 2px solid #202829;
}

.voteBut {
  border-radius: 60%;
}

img {
  max-height: 80px;
  max-width: 80px;
}
