.App {
  text-align: center;
  grid-template-areas: "app-header navBar, this, that";
}

.app-header {
  border: 1px solid black;
}

.navBar {
  border: 1px solid black;
}

.articleList {
  border: 1px solid black;
  list-style-type: none;
}

.article {
  border: 1px solid black;
}
